/** @format */
/* importing Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Changa:wght@200;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kufam&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --orange: #f7802b;
  --dark-blue: hsl(240, 95%, 15%);
  --black: hsl(0, 0%, 0%);
  --red: hsl(0, 100%, 50%);
  --scrollbar-thumb-bg: hsl(222, 81%, 25%);
  --Very-light-gray: hsl(0, 0%, 94%);
  --main-font-family: "Changa", sans-serif;
  --header-font-size: clamp(2.375rem, 0.8125rem + 5vw, 3.625rem);
  --mini-txt-font-size: clamp(0.625rem, 0.5584rem + 0.355vw, 1rem);
  --txt-font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem);
  --intro-header-font-size: clamp(1.375rem, 0.9756rem + 2.1302vw, 3.625rem);
  --intro-header-font-family: "Kufam", sans-serif;
  --viewport-max-width: 1920px;
  --viewport-min-width: 320px;
  --break-point: 764px;
  --box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --varyDarkBlue: hsl(234, 12%, 34%);
  --grayishBlue: hsl(229, 6%, 66%);
  --veryLightGray: hsl(0, 0%, 98%);
  --weight1: 200;
  --weight2: 400;
  --weight3: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Changa", sans-serif;
  text-decoration: none;
}
html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #d3cbcb;
}
::-webkit-scrollbar-thumb {
  background: #0c2c75;
}
::-webkit-scrollbar-thumb:hover {
  background: #09215a;
}
body {
  min-height: 100vh;
  background-color: var(--white);
  overflow-x: hidden;
  position: relative;
}

.floating-div {
  width: 100%;
  position: absolute;
  height: 100%;
  opacity: 0.5;
  background-color: var(--dark-blue);
  z-index: 3;
  display: none;
}
header {
  background: var(--white) !important;
  padding: 5px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100px;
  margin-top: 45px;
}
@media (width <= 768px) {
  header {
    margin-top: 0;
  }
}
@media (486px <= width <= 1000px) {
  header {
    padding: 10px 30px;
  }
}
@media (width < 485px) {
  header {
    padding: 10px 20px;
  }
}
.logo {
  width: 100px;
  height: 80px;
  margin-bottom: 5px;
}
@media (width < 485px) {
  .logo {
    width: 80px;
    height: 80px;
  }
}
.logo img {
  max-width: 100%;
}

nav {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 50px;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 15px;
}
@media (width <= 768px) {
  nav {
    display: none;
  }
}
nav p {
  color: var(--dark-blue);
  font-size: var(--mini-txt-font-size);
  text-align: left;
  font-weight: 900;
}
nav .phone {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav .whatsapp {
  display: flex;
  align-items: center;
  gap: 10px;
}
nav .list {
  display: flex;
  align-items: center;
}
nav .list ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}
nav .list ul li a i {
  color: var(--dark-blue);
}
.call {
  width: clamp(80px, 120px, 200px);
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: var(--dark-blue);
  text-align: center;
}
.call a {
  color: var(--white);
  font-size: var(--mini-txt-font-size);
}
.call:hover {
  cursor: pointer;
}

.call::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 4px solid var(--dark-blue);
  transform-origin: center;
  transform: scale(1);
}

.call:hover::before {
  transition: all 0.75s ease-in-out;
  transform-origin: center;
  transform: scale(1.75);
  opacity: 0;
}
.bar-icons {
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.bar-icons i {
  font-size: 30px;
  color: var(--dark-blue);
}
.menu {
  width: 250px;
  height: 750px;
  background-color: var(--dark-blue);
  position: fixed;
  transition: all 0.5s;
  z-index: 4;
  top: 0;
  right: -500px;
  border: 2px dotted var(--white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.5s;
}
.menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  padding: 20px;
  height: 50%;
  width: 100%;
  list-style: none;
  font-size: 18px;
}
.menu ul li:hover:not(.x-mark){
  opacity: 0.8;
}
.menu ul li.inner{
  margin-right: 50px;
}
.menu ul li.inner a {
  font-size: var(--txt-font-size);
  color: var(--white);
}

.menu ul li:not(.x-mark) {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
.menu ul li.x-mark {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  cursor: pointer;
}
.menu ul li.x-mark i {
  color: var(--red);
}

.menu ul li a {
  color: var(--white);
  font-size: 22px;
  cursor: pointer;
}
.menu ul li i {
  color: var(--white);
  font-size: 18px;
}
.menu .logo {
  width: 180px;
  height: 120px;
  margin-top: 28px;
}
.menu .logo img {
  max-width: 100%;
}
.to-right {
  right: 0;
}

/* header :end  */
/* section num-1 :start  */
.s1 {
  width: 100%;
  max-width: var(--viewport-max-width);
  height: 695px;
  position: relative;
}
.s1 .img {
  width: 100%;
  max-width: var(--viewport-max-width);
  height: 680px;
  background-color: var(--dark-blue);
}
.s1 .img img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  filter: brightness(0.22) saturate(2.21) sepia(0.56);
}
.s1 .inner-container {
  width: clamp(320px, 90%, 900px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 22em;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding-right: 10px;
}
#typedtext {
  width: clamp(290px, 90%, 500px);
  height: 115px;
  text-align: center;
  color: var(--white);
  opacity: 0.8;
  font-size: clamp(0.75rem, 0.6806rem + 0.3704vw, 1.125rem);
}
.more-about {
  display: flex;
  width: clamp(300px, 70%, 700px);
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: all 0.3s;
}
.more-about::after {
  position: absolute;
  top: -6px;
  left: -45px;
  content: "20% خصم";
  width: 120px;
  height: 50px;
  background-color: var(--dark-blue);
  border-radius: 10px;
  transform: rotate(-45deg);
  color: var(--white);
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: var(--mini-txt-font-size);
}
.more-about:hover {
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}
.more-about a {
  text-decoration: none;
  color: var(--dark-blue);
  background-color: var(--orange);
  padding: 15px 30px;
  width: 100%;
  font-size: clamp(1.25rem, 1.1343rem + 0.6173vw, 1.875rem);
  font-weight: 900;
}

.s1 .inner-container h1 {
  color: white;
  font-weight: 900;
  font-size: var(--intro-header-font-size);
  font-size: clamp(1.25rem, 0.9259rem + 1.7284vw, 3rem);
}

/* section num-1 :end  */

section.num-2 {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.num-2 .container {
  width: 90%;
  height: 90%;
  border-radius: 7px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}
section.num-2 .container h3 {
  margin-top: 10px;
  align-self: flex-start;
}
section.num-2 .container h2 {
  font-size: clamp(1.25rem, 1.0185rem + 1.2346vw, 2.5rem);
  align-self: flex-start;
}
section.num-2 .container p {
    text-align: right;
    margin: 15px 0;
    font-size: clamp(0.75rem, 0.6806rem + 0.3704vw, 1.125rem);
}


.floating-whatsapp {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 20px;
  bottom: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.floating-phone {
  height: 50px;
  width: 50px;
  position: fixed;
  left: 20px;
  bottom: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  margin-top: 5px;
}

.order {
  width: 50%;
  height: 70px;
  text-align: center;
  border-radius: 7px;
  position: fixed;
  bottom: -10px;
  left: 25%;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  padding: 3px 25px 3px 0;
  border: 1px solid var(--dark-blue);
}
.order img {
  min-width: 27px;
}
.order a {
  font-size: clamp(0.75rem, 0.5417rem + 1.1111vw, 1.875rem);
  color: var(--white);
  font-weight: 900;
}
.order span {
  font-size: clamp(0.75rem, 0.5417rem + 1.1111vw, 1.875rem);
  color: var(--white);
  font-weight: 900;
}
@media (width < 764px) {
  .order {
    display: none;
  }
}
.space {
  width: 100%;
  height: 50px;
}


/* footer :start  */
footer {
  width: 100%;
  max-width: var(--viewport-max-width);
  min-height: 200px;
  padding: 10px 25px;
  background-color: #eeeded;
  box-shadow: var(--box-shadow);
}
footer .container {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  text-align: right;
  gap: 50px;
}
@media (width <= 768px) {
  footer .container {
    display: block;
  }
}
footer .container .one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  row-gap: 15px;
}
footer .container .one h3 {
  color: var(--dark-blue);
}
footer .container .one ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
footer .container .one ul li {
  padding: 0 10px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .container .one ul li a {
  font-size: 22px;
  color: var(--black);
}
footer .container .one {
  padding: 0;
}
footer .container .one .contact {
  width: 100%;
  text-align: center;
}
footer .container .one .contact h3 {
  font-size: clamp(1rem, 0.9035rem + 0.5149vw, 1.5625rem);
}
footer .container .one .contact h3 a,
i {
  color: var(--black);
  font-size: 18px;
}
footer .container .two {
  padding: 20px 15px;
}
footer .container .two .logo {
  display: inline-block;
}
footer .container .two h3 {
  color: var(--black);
}
footer .container .two p {
  color: var(--black);
  opacity: 0.8;
  text-align: right;
  direction: rtl;
}
footer .deep {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
  padding-top: 15px;
}
@media (max-width: 522px) {
  footer .deep {
    flex-direction: column-reverse;
  }
}
footer i.copyright {
  font-size: 12px;
  color: var(--black);
  font-weight: normal;
  font-family: "Courier New", Courier, monospace;
  opacity: 0.7;
}
footer .deep:last-child {
  font-size: 14px;
  color: var(--black);
  font-weight: normal;
  filter: blur(0.5px);
}
footer .mee {
  color: #551a8b;
  font-style: italic;
  font-size: 11px;
}

/* 
  the end of the journey
  
                                      ↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤↤
                                      💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎
                                        ☹♔☹♔☹♔☹♔☹♔☹♔☹♔☹♔☹♔☹♔
                                        `•.,¸¸,.•´¯ `•.,¸¸,.•´¯ `•.,¸¸,.•´¯ 
                                              🅼🅰🅷🅼🅾🆄🅳 🆃🅰🅶
                                        `•.,¸¸,.•´¯ `•.,¸¸,.•´¯ `•.,¸¸,.•´¯ 
                                        ☹♔☹♔☹♔☹♔☹♔☹♔☹♔☹♔☹♔☹♔            
                                      💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎💎
                                      ↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦↦
  
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣤⣶⡎⠉⠀⠙⢧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠿⠉⠀⠀⠀⠀⠀⠈⢳⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡼⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡤⣿⠛⠶⠤⠀⠀⠀⠀⠀⠀⠀⠀⠈⣷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣥⣈⠉⠒⠦⣄⠀⣀⠀⠀⠀⠀⠀⠀⠸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠛⠓⠲⣄⠈⠳⡌⠳⡀⠀⠀⠀⢸⣷⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⣿⣿⡇⠀⠀⠈⠳⡀⠈⢦⡹⡀⠀⠀⢸⠃⢧⠀⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⠟⢳⣤⠀⢻⡿⣆⠀⢳⡗⠀⠀⡼⠀⢸⡆⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⣿⣷⣤⡟⠀⠀⠈⠛⣆⠀⢷⠀⠀⡇⠀⠨⢧⠀⠀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣧⣠⠀⠀⠀⠘⣆⠈⠃⣰⠁⠀⠄⠸⣦⡀⠀⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣷⡄⠀⠀⠀⠸⡅⢀⡏⠀⠀⠀⢠⠏⠱⣄⠀⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⣿⣿⣿⣷⣤⣠⠖⢻⠁⡼⠀⠀⢀⡴⠋⠀⠀⠈⢦⡀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⡟⠉⢻⡻⣿⣿⣿⢧⣠⢏⣾⣡⠤⠚⣏⠀⠀⠀⠀⠀⠀⠉⠣⡄⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡞⡿⠁⢠⢿⣿⢿⣿⡿⠋⣿⡏⠉⠀⠀⠀⣹⡞⠁⠀⠀⠀⠀⠀⠀⢸⡀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⣆⡴⡟⢸⢸⢰⡄⠀⠀⣹⢱⠀⠀⠀⢰⢿⡄⠀⠀⠀⠀⠀⠀⠀⠀⢧
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣽⠃⣿⠀⠃⢸⢸⠘⡇⠀⠀⣿⢸⠀⠀⠀⠃⠀⢧⡄⢀⡴⠃⠀⠀⠀⠀⠘
  ⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⢿⡧⣿⠀⠀⡸⣾⠀⡇⠀⠀⣯⡏⠀⠀⠀⠀⠀⣸⡷⣫⣴⠀⠀⠀⢀⠂⢀
  ⠘⣿⣦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣇⠀⠀⣿⠀⠀⡇⣿⠰⠇⠀⣸⢻⠇⠀⠀⠀⠀⢰⠿⠞⣫⢞⡠⠀⢀⠂⠀⢸
  ⠀⠘⣿⣿⣿⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡾⣏⠻⣦⣤⣿⠀⠀⢧⡇⠀⠀⠀⢹⣾⠀⠀⠀⠀⢠⡏⣠⣼⣋⣉⣀⣴⣁⣀⣀⡎
  ⠀⠀⠈⢿⣿⣿⣿⣿⣦⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣷⡌⠙⠺⢭⡿⠀⠀⠸⠆⠀⠀⠀⢸⣿⡀⠀⠀⠀⡟⢀⡧⣄⣠⣠⣤⣤⣤⣀⣈⡇
  ⠀⠀⠀⠈⢿⣿⣿⣿⣿⣿⣷⣦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠿⠃⠀⠈⠢⠐⢤⣧⠀⠀⠀⠀⠀⠀⠀⢸⡿⠀⠀⠀⣼⠁⡼⠉⠛⠒⠒⠒⠒⠶⠶⢿⠁
  ⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⢀⣤⣛⡛⠛⢢⠀⠀⢠⠈⢪⣻⡇⠀⠀⠀⠀⠀⠀⠐⠃⠀⠀⢰⠏⢸⡧⠤⠤⠤⢤⣀⣀⡀⠀⡾⠀
  ⠀⠀⠀⠀⠀⠀⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⡄⠀⣀⣀⠤⠴⠒⠚⣩⠽⣿⠖⠋⠉⠀⠀⣦⠈⣧⠀⠈⣳⣼⡿⠛⠀⠀⠀⠀⠀⠀⠀⢀⡤⠴⠞⠀⣿⠓⠢⠤⠤⠤⠤⣌⣉⣻⡇⠀
  ⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣭⣭⣶⣦⣤⣶⠋⢡⣴⠇⢀⣴⡦⠀⣠⢿⣤⣿⡴⠒⢹⣏⣀⠀⠀⢀⣀⣀⠀⠀⢀⣠⣄⢀⣤⣾⡯⡀⠀⠉⠒⠒⠤⢤⣭⣽⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠙⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁⢠⣻⠃⡴⠛⢁⣴⡯⠇⠀⠀⠈⠉⠉⠉⢹⡍⠉⠉⠙⣷⠈⢻⠉⠻⠀⠘⣟⠻⠀⡉⠁⠀⠀⠀⠀⠀⠀⣠⣿⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⢿⣿⣿⣿⣿⣿⣿⣿⣾⣿⣮⣵⢰⣧⣞⣶⡿⢋⣡⠔⠚⣀⡀⠀⠀⠀⠀⢨⠇⠀⠀⠀⢹⠀⠈⠁⠀⠀⠀⠿⠀⠀⠈⠓⠶⠄⠀⠐⣲⡾⠋⡿⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣾⡿⢿⣿⢎⢠⠟⡠⣾⠟⢋⡠⠤⠤⢤⠤⠾⠤⠤⣤⢤⡼⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡴⠞⠁⢀⣴⠇⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⢿⣿⣿⣿⣿⡙⠻⣿⣿⣿⣿⣝⡋⣮⣴⣞⣥⡄⠀⠀⢀⣀⡤⠴⠚⠛⠪⣟⡧⢤⣄⣠⣄⡐⠦⣤⣤⣤⠴⠚⠉⠀⠀⠀⣾⠁⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠻⣿⣿⣿⡄⠈⠙⢿⣿⣿⣿⣿⠟⠋⣁⣤⠴⠚⠉⠁⠀⠀⠀⠀⠀⠀⠉⠲⢤⡀⠉⠉⠉⠉⠁⠀⠀⠀⠀⠀⠀⢀⣿⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⢿⣿⡄⠀⠀⢙⣹⣷⠶⠟⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠑⠦⣄⠀⠀⠀⠀⠀⠀⠀⠰⢚⡇⠀⠀⠀⠀
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠿⡾⠿⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠂⡀⢀⣀⡀⠈⠛⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀                                                                     ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  
  
  */
